<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Programador Full Stack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="margin: 0 auto;">
    <div class="container">
        <h1>Tecnologias Front-end</h1>
        <% for(i = 0; i < dados.length; i++) { %>
            <table>
                <tr>
                    <td style="width: 120px">
                        <%= dados[i].nome %>
                    </td>
                    <td>
                        <a href="/editar/<%=dados[i].id%>" class="btn btn-success edit">Editar</a>
                        <a href="/front-end/Deletar/<%= dados[i].id %>" class="btn btn-danger delete" onclick="return confirm('Confirmar a exclusão?')">Excluir</a>
                    </td>
                </tr>
            </table>
            <% } %>
                <br>
                <form action="/front-end/Salva" method="post">
                    <input type="text" name="nome">
                    <input type="hidden" name="modulo" value="front-end" readonly="readonly">
                    <input type="submit" value="Adicionar">
                </form>
    </div>
</body>

</html>